.about {
    width: 100vw;
    height: 100vh;
    margin-left: 5rem;
    justify-content: space-between;
    align-items: center;
    background: var(--color-gray-600);
    white-space: wrap;
    display: grid;
    position: relative;
}

.about__image {
    width: 80vw;
    display: grid;
    
    position: relative;
    margin-top: 20rem;
    border-radius: 25%;
    filter: brightness(90%);
    transition: transform 1s;

}
.about__image:hover{
    transform: translate(10%, 10%) scale(1);

}






.about__header-left {
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 1.5rem;


}

.about__header-left p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--color-secondary);
    line-height: 1.5;
    text-align: center;
    font-weight: 100;
    font-size: 1.2rem;



}


.about__h3 {
    margin-right: 15rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    font-style: oblique 80deg;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: underline;
}


.btn.lg{
    display: grid;
    margin-top: 2rem;
    position:relative;
}
.btn__home{
    background:var(--color-secondary);
}
.btn__home:hover{
    background: var(--color-gray-200);
}


@media screen and (max-width: 1024px) {
    .about {
        height: fit-content;
        
        margin-top: -5rem;
        margin-left: -10px;
        padding: 12rem 0;
        white-space: wrap;
    }

    .about__image {
        width: 95vw;
        height: 80vh;
        margin-left: 1rem;
        position: relative;
        filter: brightness(75%);
        transition: var(--transition);

    }
    .about__h3{
       margin-bottom: -1rem;
        margin-left: 5rem;

    }
    .about__header-left p{
        width: 90vw;
        margin-left: 1rem;
        text-align: center;
        font-size: 1.2rem;
        display: grid;

    }

    .btn {
       
        padding: 1rem 2rem;
        margin-top: 2.5rem;
       font-size: 1rem;
       position: absolute;
    }
    



}