.about{
    display: grid;
    grid-template-columns: 200px 1fr 180px;
    gap: 2rem;
}
.about__header{
    width: 100vw;
    height: fit-content;
    margin-top:5rem;
    justify-content: center;
    align-items: center;
}
.about__image{
      margin-top:5rem;
    margin-bottom:-2rem;
    
}
.image{
    width:50vw;
    border-radius: 10px;
    position: relative;
    transition: transform .5s;
}
.image:hover{
    transform:translate(10%, 20%) scale(.5); 
}
.about__company{
    width: 25vw;
    margin-top:2.5rem;
    height: auto;
    white-space: pre-wrap;
    margin-left: 25rem;
    text-align:center;
}
.about__h3{
    font-size: 2rem;
    font-weight: 400;
    color:var(--color-primary);
}
.p{
    text-align:center;
    font-size:1.5rem;
    font-weight: 200;
    line-height: 1.4;
    color: #fff;
}
.about__website{
    width: 25vw;
    height: auto;
    margin-top:1.2rem;
    margin-left: 25rem;
}
.web__h3{
    font-size:2rem;
    font-weight: 400;
    color: var(--color-primary);
    text-align:center;

}

.web__p{
    text-align:center;
    font-size:1.5rem;
    line-height: 1.4;
    font-weight: 200;
    color: #fff;
}

.Link__left{
    display: inline-block;
    width: 5.5rem;
    margin-left: 5rem;
    height: fit-content;
    text-align :center;
    border:0;
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    border-radius: 20px;
    transition:color .5s;
}
.link{
    color: #000;
}


.Link__left:hover{
   background: var(--color-secondary)
}
    
.left{
    width: 1.5rem;
    margin-left: 2rem;
    position: relative;
    
}

.Link__right{
    display: inline-block;
    width: 5.5rem;
    margin-left: 5rem;
    height: fit-content;
    text-align :center;
    border:0;
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    border-radius: 20px;
    transition:color .5s;
}
.link{
    color: #000;
}


.Link__right:hover{
   background: var(--color-gray-200);
}
    
.rigth{
    width: 1.5rem;
    margin-left: 2rem;
    position: relative;
    
}


@media screen and (max-width: 768px){
    .about{
        
        width: 100%;
        height: auto;
        display:inline-block;
        
    }
    .image{
        margin-left: 2rem;
    }
    .about__company{
        width: 50vw;
        margin-top:2rem;
        height: auto;
        white-space: pre-wrap;
        margin-left: 5rem;
        text-align:center;
    }
    .about__website{
        width: 50vw;
        height: auto;
        margin-top:1.2rem;
        margin-left: 5rem;
    }
    .Link__left{
        margin-top: 2rem;
    }
    .Link__right{
        margin-top:2rem;
    }
}
@media screen and (max-width: 1024px){
    .about{
        
        width: 100%;
        height: 100%;
        display:inline-block;
        
    }
    .image{
        margin-left: 5rem;
    }
    .about__company{
        width: 50vw;
        margin-top:2rem;
        height: auto;
        white-space: pre-wrap;
        margin-left: 5rem;
        text-align:center;
    }
    .about__website{
        width: 50vw;
        height: auto;
        margin-top:1.2rem;
        margin-left: 5rem;
    }
    .Link__left{
        margin-top: 2rem;
    }
    .Link__right{
        margin-top:2rem;
    }
}
